@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
.layout-topbar {
    .notifications {
        .layout-topbar-action-panel {
            img {
                width: 32px;
                height: 32px;
            }

            .layout-topbar-action-item {
                border-bottom: 1px solid var(--divider-color);
                background-color: #12084B;

                &:last-child {
                    border-bottom: 0 none;
                }
            }
        }
    }

    .app {
        .layout-topbar-action-panel {
            a {
                padding: 0.5rem 0;

                i {
                    width: 42px;
                    height: 42px;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    margin: 0.5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}

.layout-rightmenu {
    .header {
        padding-bottom: 0.5rem;
        margin-bottom: 0.714rem;
        border-bottom: 1px solid var(--divider-color);
    }

    .online-members {
        img {
            width: 32px;
        }

        b {
            color: var(--primary-color);
        }
    }

    .latest-activity {
        i {
            border: 1px solid transparent;
            border-radius: 50px;
            background-color: var(--surface-d);
        }
    }

    .next-events {
        ul {
            margin: 0;
            list-style-type: none;
            padding: 0;

            > li {
                padding: 0.875rem 0.5rem;
            }
        }
    }
}

.layout-help-page {
    .questions {
        &.p-accordion p-accordiontab {
            .p-accordion-tab {
                margin-top: 1rem;
            }

            &:first-child {
                .p-accordion-tab {
                    margin-top: 0;
                }
            }
        }
    }
}

.layout-invoice-page {
    .p-invoice-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
        display: none;
    }

    @media screen and (max-width: 40rem) {
        .p-invoice-datatable-responsive {
            .p-datatable-thead > tr > th,
            .p-datatable-tfoot > tr > td {
                display: none !important;
            }

            .p-datatable-tbody > tr > td {
                text-align: left;
                display: block;
                width: 100%;
                float: left;
                clear: left;
                border: 0 none;

                .p-column-title {
                    padding: 0.4rem;
                    min-width: 30%;
                    display: inline-block;
                    margin: -0.4em 1em -0.4em -0.4rem;
                    font-weight: bold;
                }

                &:last-child {
                    border-bottom: 1px solid var(--surface-d);
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .layout-menu-slim {
        .layout-inline-menu {
            .layout-inline-menu-action {
                justify-content: center;

                > span,
                > i {
                    display: none !important;
                }
            }

            .layout-inline-menu-action-panel {
                .layout-inline-menu-action-item {
                    > a {
                        justify-content: center;

                        > i {
                            font-size: 1.5rem;
                            margin-right: 0 !important;
                        }

                        > span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.p-datatable .p-datatable-thead > tr > th {
    background-color: #12084B;
    color: #ffffff;
}

.p-datatable .p-datatable-footer {
 
    text-align: center;
    color: #ffffff;
    box-shadow: none;
    border: none;
}

.p-datatable-scrollable-header-box {
    padding: 0px 0px 0px 0px !important;
}

.p-paginator {
    background: #12084B;
    color: #ffffff;
    border: none;
}

.p-paginator .p-paginator-current {
    color: #ffffff;
}

.p-paginator .p-paginator-element {
    color: #2f9688;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #ffffff;
    color: black;
    border-radius: 50%;
}

.p-paginator .p-dropdown,
.p-paginator .p-dropdown-label {
    background-color: #12084B;
    color: #ffffff;
}


.p-fieldset .p-fieldset-legend {
    border: none;
    background: none;
}

.botao-novo,
.botao-pesquisar {
    padding-left: 2.5em;
    padding-right: 2.5em;
    font-size: 1.1em;
    background-color: #12084B !important;
    color: #ffffff;
    height: 3em;
}

.botao-pesquisar {
    float: right;
}

th,
td {
    width: 40px;
}

.botao-excluir,
.botao-excluir:enabled:hover {
    color: red;
    font-size: 1.5em;
    border: none;
    background: none;
}

.botao-visualizar,
.botao-visualizar:enabled:hover {
    color: blue;
    font-size: 1.5em;
    border: none;
    background: none;
}

.botao-editar,
.botao-editar:enabled:hover {
    color: #38761d;
    font-size: 1.5em;
    border: none;
    background: none;
}

.botao-excluir:enabled:hover,
.botao-editar:enabled:hover,
.botao-visualizar:enabled:hover {
    cursor: pointer;
}

:host ::ng-deep .botao-excluir:disabled,
.botao-editar:disabled,
.botao-visualizar:disabled {
    border: none !important;
    background: none !important;
    color: #7e7474 !important;
}

.botao-cancelar{
    width: 100%;
    height: 4em;
    background: #e0e0e0;
    margin-right: 3em;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.34);
    border-radius: 4px;
    border: none;
    color: #535353;
}
.botao-cancelar:hover,
.botao-cancelar:focus {
    background: #ebebeb !important;
    color: #535353 !important;
}
.logo-central{
    margin-top: 15%;
}

.botao-salvar {
    height: 4em;
    width: 100%;
    background-color: #12084B !important;
    box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.34);
    margin-left: 3em;
    color: #ffffff;
    border: 1px solid;
}

@media(max-width: 418px){
    .logo{
        img{
            width: 7rem
        }
    }
}


.botao-login {
    width: 100%;
    height: 4em;
    background-color: #12084B !important;
    margin-left: 3em;
    color: #ffffff;
}

.alinhamento {
    margin-top: 2em;
    text-align: center;
}
.botao-excluir,
.botao-excluir:enabled:hover {
    color: red;
    font-size: 1.5em;
    border: none;
    background: none;
}

.botao-excluir:enabled:hover {
    cursor: pointer;
}

:host ::ng-deep .botao-excluir:disabled {
    border: none !important;
    background: none !important;
    color: #7e7474 !important;
}

.header-col-table {
    border-bottom: none !important;
}

.sort-col-table {
    border-top: none !important;
}
.mensagem-vazia{
    text-align: center !important;
}

.alinhamento {
    margin-top: 2em;
    text-align: center;
  }
  
  
.button-danger {
    background-color: #e60000 !important;
    border: 2px solid #e60000 !important;
    float: left;
    width: 30% !important;
  }
  
.p-fieldset .p-fieldset-legend {
    border: none;
    background: none;
  }
  

fieldset{
    min-width: 100%;

}

.p-fieldset{
    padding: 0;

}


.coluna-acoes,
.acoes {
      width: 15%;
      text-align: center;
  }
.menu-acoes {
    border-radius: 30px;
    background: #12084B;
    font-size: 18px !important;
    display: inline-flex;
    color: #ffffff !important;
    margin: 0;
    position: relative;
}

.menu-acoes-horizontal {
    background-color: #12084B;
    border-radius: 50px;
}

.formatacao-icone-menu-acoes {
    cursor: pointer;
    padding: 7px;
    justify-content: center !important;
    font-size: 18px !important;
    color: white !important;
}

.p-datatable .p-datatable-tbody > tr > .acoes {
    text-align: center;
    color: rgba(255, 255, 255, 0.801);
    border: none;
}
.p-datatable .p-datatable-tbody > tr > .acoes,
.p-datatable .p-datatable-tbody > tr > .checkbox,
.p-datatable .p-datatable-tbody > tr > .descricao,
.p-datatable .p-datatable-tbody > tr > .situacao {
    text-align: center;
}
.layout-topbar-green .layout-topbar, .layout-topbar .layout-topbar-left .layout-topbar-logo{
    background-color: #12084B;
}
.layout-topbar-green .layout-topbar, .layout-topbar .layout-topbar-left .layout-topbar-logo:hover{
    background-color: #12084B;
}
.layout-topbar-green .layout-topbar .layout-topbar-left {
    background-color: #12084B;
} 

body{
    background: #f5f5f5;
}
