<div class="container">
        <a class="p-fluid p-grid p-md-12 p-mb-6 p-d-flex p-jc-center">
            <img id="app-logo" src="assets/img/sge.png" alt="ultima-layout" style="height: 3.25rem">
        </a>
        <div class="p-fluid p-grid p-mb-3 p-d-flex p-jc-center">
            <div class="p-md-12 p-sm-12">
                <span class="p-float-label p-input-icon-left">
                    <i class="pi pi-lock"></i>

                    <input pInputText id="login"  name="chave" [(ngModel)]="chaveInput" >
                    <label for="inputnumber">Chave</label>
                </span>
            </div>
        </div>
        <div class="p-grid p-mt-5 demo-container p-p-4">
            <div class="p-col p-md-12 p-sm-12">
                <button pButton class="botao-login p-d-block p-mx-auto" label="Entrar" (click)="logarUsuario(chaveInput)">
                    <i class="pi pi-save p-mr-1"></i>
                </button>
            </div>
            <label class="p-mt-2 p-col-12 p-d-block p-mx-auto">Não tem uma conta?</label>
            <button pButton class="p-button-link p-col-12" label="Cadastre-se">
            </button>
        </div>
</div>